.app-container{
display:flex;
min-height:100vh;
background:#fff;
}

.main-content{
flex:1;
padding:30px;
background:#fff;
}

.page-title{
font-size:28px;
font-weight:700;
color:#1f2937;
margin-bottom:25px;
}

.primary-btn{
background:#f59e0b;
color:white;
padding:12px 20px;
border-radius:8px;
font-weight:600;
transition:.2s;
}

.primary-btn:hover{
background:#d97706;
}

.card{
background:white;
border:1px solid #e5e7eb;
padding:20px;
border-radius:12px;
}

.table{
width:100%;
border-collapse:collapse;
}

.table th{
background:#fef3c7;
padding:15px;
text-align:left;
}

.table td{
padding:15px;
border-bottom:1px solid #eee;
}

.sidebar{
width:230px;
border-right:1px solid #e5e7eb;
padding:30px 20px;
display:flex;
flex-direction:column;
gap:20px;
min-height:100vh;
}

.sidebar h2{
color:#f59e0b;
margin-bottom:20px;
}

.sidebar a{
padding:12px;
border-radius:8px;
font-weight:500;
}

.sidebar a:hover{
background:#fef3c7;
}

@media(max-width:768px){

.main-content{
padding:20px;
}

.sidebar{
width:80px;
}

.sidebar h2{
display:none;
}

.navbar{

height:70px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 25px;

border-bottom:1px solid #e5e7eb;

background:white;

}

.navbar h3{

color:#f59e0b;

font-size:22px;

}

.user-box{

padding:10px 15px;

background:#fef3c7;

border-radius:8px;

font-weight:600;

color:#92400e;

}
}